{% extends 'base.html.twig' %}

{% block title %}AWX List jobs!{% endblock %}

{% block body %}
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img label="Bootstrap" src="{{ logo }}" width="90px" />
            </a>
        </div>
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            Task Dashboard
            </a>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <br />
        <br />
    </div>

    <div class="container-xl">
        <div class="table-responsive">
{{ form_start(form, {'method': 'POST', 'attr': {'id': 'form_config'}}) }}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Environnement</th>
                        <th scope="col">Application</th>
                        <th scope="col">Stack</th>
                        <th colspan="2" scope="col">Client</th>
                    </tr>

                    <tr>
                        <td scope="col">{{ form_widget(form.env, { 'attr': {'class': 'form-select form-select-sm' }}) }}</td>
                        <td scope="col">{{ form_widget(form.app, { 'attr': {'class': 'form-select form-select-sm' }}) }}</td>
                        <td scope="col">{{ form_widget(form.stack, { 'attr': {'class': 'form-select form-select-sm' }}) }}</td>
                        <td scope="col">{{ form_widget(form.client, { 'attr': {'class': 'form-select form-select-sm' }}) }}</td>
                        {# <td scope="col">{{ form_widget(form.send, { 'attr': {'class': 'btn btn-primary btn-sm' }}) }}</td> #}
                    </tr>

                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                    </td>
                </tr>
                </tfoot>
            </table>
{{ form_end(form) }}
        </div>
    </div>
</main>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('config') }}
{% endblock %}
