{% extends 'base.html.twig' %}

{% block title %}AWX List jobs!{% endblock %}

{% block body %}
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img label="Bootstrap" src="{{ logo }}" width="90px" />
            </a>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <br />
        <br />
    </div>

    <div class="container-xl">
        <div class="table-responsive">
            Total : {{ job_count }} job{{ job_count > 1 ? 's' : '' }}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Started</th>
                        <th scope="col">Finished</th>
                        <th scope="col" class="text-center">Duration</th>
                        <th scope="col" class="text-center">Status</th>
                    </tr>
                </thead>
                <tbody>
{% for job in jobs %}
                    <tr class="table-{{ job.status == 'failed' ? 'danger' : 'success'}}">
                        <td>{{ job.name }}</td>
                        <td>{{ job.started|date("d/m/Y H\\hi", "Europe/Paris") }}</td>
                        <td>{{ job.finished|date("d/m/Y H\\hi", "Europe/Paris")  }}</td>
                        <td class="text-center">{{ job.elapsed }}s</td>
                        <td class="text-center">
<img label="{{ job.status }}" alt="{{ job.status }}" src="{{ status_images[ job.status ] }}" height="20px" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ job.status|capitalize }}">
<a href="{{ job.id | awxlink(awx_url) }}" target="_new" data-bs-toggle="tooltip" data-bs-placement="right" title="Go to logs">
    <img label="Bootstrap" src="{{ img_console }}" width="20px" />
</a>
                        </td>
                    </tr>
{% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td>{% if show_previous_button %}<a href="{{ previous_page }}"><button type="button" class="btn btn-outline-info btn-sm">Previous</button></a>{% endif %}</td>
                    <td colspan="3">
{{ form_start(form, {'attr': {'class': 'row g-3'}}) }}
<div class="col-auto">
{{ form_widget(form.page_size, { 'attr': {'class': 'form-select form-select-sm' }}) }}
</div>
<div class="col-auto">
{{ form_label(form.page_size, null, {'label_attr': {'class': 'mr-sm-2'}}) }}
</div>
<div class="col-auto">
{{ form_widget(form.send, { 'attr': {'class': 'btn btn-primary btn-sm' }}) }}
</div>
{{ form_end(form) }}
                    </td>
                    <td>
{% if show_next_button %}<a href="{{ next_page }}"><button type="button" class="btn btn-outline-info btn-sm">Next</button></a>{% endif %}
&nbsp;
{{ position }}
</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</main>

{% endblock %}
